[Desktop Entry]
Encoding=UTF-8
Name=TouchMe Games
GenericName=Misc. Touchscree-friendly Games
Exec=touchmegames
Type=Application
X-KDE-StartupNotify=false
Categories=Game;
